body{
    box-sizing: border-box;
    font: 14px 'PT Sans', Tahoma, Arial;
    font-weight: 500;
    color: rgba(0,0,0,.87);    
}

.container{
    width: 500px;
    margin: 0 auto;
}

.nav{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 430px;
    letter-spacing: 1px;
    justify-content: space-between;
}

.nav__item{
    border-top: 3px solid;
    border-top-color: transparent;
    transition: border-top-color .4s ease-in-out;
}

.nav__item:hover{
    border-top-color: rgb(41, 41, 252);
}

.nav__item:first-child{
    border-top-color: rgb(41, 41, 252);
}

.nav__item-link{
    display: block;
    padding: 25px 0;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: black;    
}

.nav2{
    display: none;
    /* transition: display .4s ease-in-out; */
    position: absolute;
    padding: 5px 0; 
    border: 1px solid transparent;
    border-radius: 1px;
    box-shadow: 0 0 2px  rgba(133, 129, 129, 0.4);
}

.menu2:hover .nav2{
    display: block;
}

.nav2__list{
    font-size: .9em;
    list-style: none;
    padding: 0;
    width: 200px;
    letter-spacing: 1px;    
}

.nav2__link{
    display: block;
    padding: 7px 10px;
    text-decoration: none;    
    color: black; 
}

.nav2__link:hover{
    background: rgba(209, 207, 207, .5);
}
    